<nav>
    <ul>
        <li>
            Weather
            <a routerLink="">
                
                    <i class="material-icons">wb_cloudy</i>
            </a>
        </li>
        <li>
            Map
            <a routerLink="graph">
                    <i class="material-icons">wb_sunny</i>
            </a>
        </li>
        <li>
            Wifi
            <a routerLink="wifi">
                <i class="material-icons">signal_wifi_4_bar</i>
            </a>
        </li>
        <!-- <li>
            <a routerLink="dashboard">
                <i class="material-icons">Dashboard</i>
            </a>
        </li>         -->
    </ul>
</nav>
